* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: arial, sans-serif;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
header {
    display: flex;
    width: 95%;
    margin: auto;
    height: 100px;
}

nav {
    flex: 1;
}

.navbar-left, .navbar-right {
    display: flex;
    list-style: none;
}

.navbar-left {
    flex: 1;
}

.navbar-right {
    flex: 1;
    height: 0%;
    justify-content: flex-end;
}

nav li {
    color: #222;
    margin: 20px 10px;
}

li span {
    background-color: #1a73e8;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
}

.main {
    
}

.logo {
    display: block;
    margin: 7% auto auto auto;
    width: 280px;
    height: 90px;
}

input[type=text] {
    display: block;
    margin: 25px auto;
    min-width: 600px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 50px; 
}

input#search {
    background-image: url(/icons/search_black_24dp.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px 9px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    margin: 5px 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.03);
    border: none;
    color:rgba(0, 0, 0, 0.7)
}

.footer-container {
    background-color: #f2f2f2;
    position: absolute;
    width: 100%;
    height: 91px;
    bottom: 0px;
}

.carbon {
    display: flex;
    justify-content: center;
}

.carbon p {
    margin: 13px 15px 0 0;
    color: rgba(0, 0, 0, 0.55);
}

.carbon img {
    width: 10px;
    margin: 13px 5px 0 0;
}

.footer-links ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.footer-links ul li {
    margin: 30px 30px 0 5px;
    color: rgba(0, 0, 0, 0.55);
}

.footer-links ul li:nth-child(3) {
    padding: 0 45px 0 0;
}








